In [1]:
import pandas as pd

# New Infections Data exploration

In [2]:
def date_transform(date):
    date_list = date.split("/")
    day = date_list[1]
    if len(day)==1:
        day = "0"+day
    month = date_list[0]
    if len(month)==1:
        month = "0"+month
    year = date_list[2]
    new_string = "20"+year+"-"+month+"-"+day
    return new_string
date_transform("11/12/20")

'2020-11-12'

In [4]:
df = pd.read_csv("../Data/time_series_covid19_confirmed_global.csv")
columns = df.columns.to_list()
for i, column in enumerate(columns):
    if i >= 4:
        columns[i] = date_transform(column)
df.columns = columns
df_confirmed_Portugal = df[df["Country/Region"]=="Portugal"]
df_confirmed_Portugal.to_csv("../Data/time_series_covid19_confirmed_portugal.csv", index=False)

In [5]:
df_confirmed_Portugal

,Province/State,Country/Region,Lat,Long,2020-01-22,2020-01-23,2020-01-24,2020-01-25,2020-01-26,2020-01-27,...,2021-03-20,2021-03-21,2021-03-22,2021-03-23,2021-03-24,2021-03-25,2021-03-26,2021-03-27,2021-03-28,2021-03-29
210,NaN,Portugal,39.3999,-8.2245,0,0,0,0,0,0,...,817080,817530,817778,818212,818787,819210,819698,820042,820407,820716

In [176]:
# converting commulative infections to new infections Australia
df_Australia_numbers = df_confirmed_Australia.iloc[:,4:len(df_confirmed_Australia.columns)]
df_Australia_numbers_new = df_Australia_numbers.copy()
for i in range(len(df_Australia_numbers.index)):
    for j in range(1,len(df_Australia_numbers.columns)):
        df_Australia_numbers_new.iloc[i,j] = df_Australia_numbers.iloc[i,j] - df_Australia_numbers.iloc[i,j-1]
        if df_Australia_numbers_new.iloc[i,j] <0:
            print("Smaller than 0! Value: " + str(df_Australia_numbers_new.iloc[i,j]) +  " i, j:" +str(i)+ ", "+ str(j))
            df_Australia_numbers_new.iloc[i,j] = 0
df_Australia_numbers_new

Smaller than 0! Value: -1 i, j:0, 82
Smaller than 0! Value: -2 i, j:1, 102
Smaller than 0! Value: -3 i, j:1, 125
Smaller than 0! Value: -1 i, j:1, 136
Smaller than 0! Value: -2 i, j:1, 141
Smaller than 0! Value: -1 i, j:1, 152
Smaller than 0! Value: -1 i, j:1, 365
Smaller than 0! Value: -1 i, j:2, 44
Smaller than 0! Value: -1 i, j:2, 100
Smaller than 0! Value: -1 i, j:3, 9
Smaller than 0! Value: -1 i, j:3, 11
Smaller than 0! Value: -1 i, j:3, 98
Smaller than 0! Value: -1 i, j:3, 112
Smaller than 0! Value: -5 i, j:3, 123
Smaller than 0! Value: -1 i, j:3, 197
Smaller than 0! Value: -1 i, j:3, 237
Smaller than 0! Value: -1 i, j:3, 282
Smaller than 0! Value: -1 i, j:3, 323
Smaller than 0! Value: -1 i, j:3, 331
Smaller than 0! Value: -2 i, j:3, 379
Smaller than 0! Value: -1 i, j:4, 196
Smaller than 0! Value: -1 i, j:4, 309
Smaller than 0! Value: -1 i, j:4, 311
Smaller than 0! Value: -2 i, j:4, 348
Smaller than 0! Value: -1 i, j:4, 375
Smaller than 0! Value: -1 i, j:5, 227
Smaller than 0! Value: -1 i, j:6, 277
Smaller than 0! Value: -1 i, j:6, 278
Smaller than 0! Value: -1 i, j:6, 283
Smaller than 0! Value: -1 i, j:6, 284
Smaller than 0! Value: -1 i, j:6, 329
Smaller than 0! Value: -1 i, j:6, 367
Smaller than 0! Value: -1 i, j:6, 377
Smaller than 0! Value: -1 i, j:7, 112
Smaller than 0! Value: -25 i, j:7, 192
Smaller than 0! Value: -28 i, j:7, 197
Smaller than 0! Value: -1 i, j:7, 339

,2020-01-22,2020-01-23,2020-01-24,2020-01-25,2020-01-26,2020-01-27,2020-01-28,2020-01-29,2020-01-30,2020-01-31,2020-02-01,2020-02-02,2020-02-03,2020-02-04,2020-02-05,...,2021-02-14,2021-02-15,2021-02-16,2021-02-17,2021-02-18,2021-02-19,2021-02-20,2021-02-21,2021-02-22,2021-02-23,2021-02-24,2021-02-25,2021-02-26,2021-02-27,2021-02-28
8,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,3,1,0,0,0,0,0,0,0,0,0,...,0,1,4,0,2,1,3,1,4,1,7,4,6,5,3
10,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0
11,0,0,0,0,0,0,0,1,2,0,1,0,0,1,0,...,0,0,0,0,1,0,0,2,0,0,1,4,1,0,2
12,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,...,0,0,2,0,0,0,2,0,2,1,0,0,0,0,3
13,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
14,0,0,0,0,1,0,0,0,1,1,1,0,0,0,0,...,2,4,0,1,3,0,0,0,0,0,0,2,0,0,0
15,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,1,0,0,0,0,0,0

In [178]:
# summing up Australia states to overall australia
sums = []
for i in range(len(df_Australia_numbers_new.columns)):
    sums.append(df_Australia_numbers_new.iloc[:, i].sum())

In [202]:
overall_australia_row_list = ["Australia","Australia","-26.4390917","133.281323"] + sums
columns = df_confirmed_Australia.columns
overall_australia_row_dict = dict()
for i in range(len(overall_australia_row_list)):
    overall_australia_row_dict[columns[i]] = overall_australia_row_list[i]
overall_australia_row_dict

{'Province/State': 'Australia',
 'Country/Region': 'Australia',
 'Lat': '-26.4390917',
 'Long': '133.281323',
 '2020-01-22': 0,
 '2020-01-23': 0,
 '2020-01-24': 0,
 '2020-01-25': 0,
 '2020-01-26': 4,
 '2020-01-27': 1,
 '2020-01-28': 0,
 '2020-01-29': 1,
 '2020-01-30': 3,
 '2020-01-31': 1,
 '2020-02-01': 3,
 '2020-02-02': 1,
 '2020-02-03': 0,
 '2020-02-04': 1,
 '2020-02-05': 0,
 '2020-02-06': 1,
 '2020-02-07': 1,
 '2020-02-08': 0,
 '2020-02-09': 0,
 '2020-02-10': 0,
 '2020-02-11': 0,
 '2020-02-12': 0,
 '2020-02-13': 0,
 '2020-02-14': 0,
 '2020-02-15': 0,
 '2020-02-16': 0,
 '2020-02-17': 0,
 '2020-02-18': 0,
 '2020-02-19': 0,
 '2020-02-20': 0,
 '2020-02-21': 0,
 '2020-02-22': 0,
 '2020-02-23': 0,
 '2020-02-24': 0,
 '2020-02-25': 0,
 '2020-02-26': 0,
 '2020-02-27': 0,
 '2020-02-28': 0,
 '2020-02-29': 10,
 '2020-03-01': 2,
 '2020-03-02': 3,
 '2020-03-03': 9,
 '2020-03-04': 13,
 '2020-03-05': 3,
 '2020-03-06': 6,
 '2020-03-07': 3,
 '2020-03-08': 13,
 '2020-03-09': 15,
 '2020-03-10': 16,
 '2020-03-11': 21,
 '2020-03-12': 0,
 '2020-03-13': 72,
 '2020-03-14': 50,
 '2020-03-15': 47,
 '2020-03-16': 80,
 '2020-03-17': 75,
 '2020-03-18': 116,
 '2020-03-19': 113,
 '2020-03-20': 110,
 '2020-03-21': 280,
 '2020-03-22': 478,
 '2020-03-23': 133,
 '2020-03-24': 362,
 '2020-03-25': 320,
 '2020-03-26': 446,
 '2020-03-27': 333,
 '2020-03-28': 497,
 '2020-03-29': 344,
 '2020-03-30': 377,
 '2020-03-31': 198,
 '2020-04-01': 303,
 '2020-04-02': 254,
 '2020-04-03': 214,
 '2020-04-04': 220,
 '2020-04-05': 137,
 '2020-04-06': 110,
 '2020-04-07': 98,
 '2020-04-08': 115,
 '2020-04-09': 98,
 '2020-04-10': 107,
 '2020-04-11': 88,
 '2020-04-12': 12,
 '2020-04-13': 37,
 '2020-04-14': 64,
 '2020-04-15': 25,
 '2020-04-16': 22,
 '2020-04-17': 60,
 '2020-04-18': 46,
 '2020-04-19': 42,
 '2020-04-20': 13,
 '2020-04-21': 22,
 '2020-04-22': 7,
 '2020-04-23': 10,
 '2020-04-24': 15,
 '2020-04-25': 17,
 '2020-04-26': 20,
 '2020-04-27': 7,
 '2020-04-28': 23,
 '2020-04-29': 9,
 '2020-04-30': 14,
 '2020-05-01': 13,
 '2020-05-02': 21,
 '2020-05-03': 25,
 '2020-05-04': 25,
 '2020-05-05': 28,
 '2020-05-06': 19,
 '2020-05-07': 19,
 '2020-05-08': 5,
 '2020-05-09': 21,
 '2020-05-10': 9,
 '2020-05-11': 22,
 '2020-05-12': 10,
 '2020-05-13': 11,
 '2020-05-14': 30,
 '2020-05-15': 16,
 '2020-05-16': 9,
 '2020-05-17': 10,
 '2020-05-18': 14,
 '2020-05-19': 4,
 '2020-05-20': 9,
 '2020-05-21': 14,
 '2020-05-22': 4,
 '2020-05-23': 15,
 '2020-05-24': 5,
 '2020-05-25': 12,
 '2020-05-26': 16,
 '2020-05-27': 11,
 '2020-05-28': 15,
 '2020-05-29': 19,
 '2020-05-30': 8,
 '2020-05-31': 10,
 '2020-06-01': 19,
 '2020-06-02': 8,
 '2020-06-03': 11,
 '2020-06-04': 7,
 '2020-06-05': 5,
 '2020-06-06': 8,
 '2020-06-07': 6,
 '2020-06-08': 2,
 '2020-06-09': 7,
 '2020-06-10': 11,
 '2020-06-11': 6,
 '2020-06-12': 5,
 '2020-06-13': 26,
 '2020-06-14': 15,
 '2020-06-15': 12,
 '2020-06-16': 23,
 '2020-06-17': 21,
 '2020-06-18': 18,
 '2020-06-19': 2,
 '2020-06-20': 50,
 '2020-06-21': 13,
 '2020-06-22': 19,
 '2020-06-23': 29,
 '2020-06-24': 37,
 '2020-06-25': 37,
 '2020-06-26': 6,
 '2020-06-27': 85,
 '2020-06-28': 78,
 '2020-06-29': 70,
 '2020-06-30': 86,
 '2020-07-01': 81,
 '2020-07-02': 65,
 '2020-07-03': 194,
 '2020-07-04': 183,
 '2020-07-05': 140,
 '2020-07-06': 172,
 '2020-07-07': 131,
 '2020-07-08': 170,
 '2020-07-09': 318,
 '2020-07-10': 179,
 '2020-07-11': 244,
 '2020-07-12': 183,
 '2020-07-13': 271,
 '2020-07-14': 236,
 '2020-07-15': 323,
 '2020-07-16': 423,
 '2020-07-17': 208,
 '2020-07-18': 361,
 '2020-07-19': 267,
 '2020-07-20': 359,
 '2020-07-21': 466,
 '2020-07-22': 408,
 '2020-07-23': 293,
 '2020-07-24': 355,
 '2020-07-25': 453,
 '2020-07-26': 532,
 '2020-07-27': 368,
 '2020-07-28': 279,
 '2020-07-29': 716,
 '2020-07-30': 605,
 '2020-07-31': 377,
 '2020-08-01': 640,
 '2020-08-02': 423,
 '2020-08-03': 412,
 '2020-08-04': 715,
 '2020-08-05': 446,
 '2020-08-06': 411,
 '2020-08-07': 426,
 '2020-08-08': 386,
 '2020-08-09': 313,
 '2020-08-10': 316,
 '2020-08-11': 414,
 '2020-08-12': 231,
 '2020-08-13': 384,
 '2020-08-14': 293,
 '2020-08-15': 252,
 '2020-08-16': 271,
 '2020-08-17': 215,
 '2020-08-18': 216,
 '2020-08-19': 247,
 '2020-08-20': 171,
 '2020-08-21': 195,
 '2020-08-22': 209,
 '2020-08-23': 104,
 '2020-08-24': 138,
 '2020-08-25': 151,
 '2020-08-26': 118,
 '2020-08-27': 126,
 '2020-08-28': 99,
 '2020-08-29': 123,
 '2020-08-30': 76,
 '2020-08-31': 73,
 '2020-09-01': 104,
 '2020-09-02': 126,
 '2020-09-03': 87,
 '2020-09-04': 71,
 '2020-09-05': 72,
 '2020-09-06': 43,
 '2020-09-07': 52,
 '2020-09-08': 92,
 '2020-09-09': 59,
 '2020-09-10': 40,
 '2020-09-11': 43,
 '2020-09-12': 44,
 '2020-09-13': 41,
 '2020-09-14': 47,
 '2020-09-15': 40,
 '2020-09-16': 35,
 '2020-09-17': 48,
 '2020-09-18': 24,
 '2020-09-19': 13,
 '2020-09-20': 14,
 '2020-09-21': 30,
 '2020-09-22': 30,
 '2020-09-23': 8,
 '2020-09-24': 20,
 '2020-09-25': 16,
 '2020-09-26': 24,
 '2020-09-27': 4,
 '2020-09-28': 11,
 '2020-09-29': 23,
 '2020-09-30': 18,
 '2020-10-01': 13,
 '2020-10-02': 12,
 '2020-10-03': 14,
 '2020-10-04': 13,
 '2020-10-05': 25,
 '2020-10-06': 8,
 '2020-10-07': 25,
 '2020-10-08': 20,
 '2020-10-09': 18,
 '2020-10-10': 19,
 '2020-10-11': 22,
 '2020-10-12': 25,
 '2020-10-13': 27,
 '2020-10-14': 20,
 '2020-10-15': 14,
 '2020-10-16': 7,
 '2020-10-17': 12,
 '2020-10-18': 9,
 '2020-10-19': 6,
 '2020-10-20': 38,
 '2020-10-21': 15,
 '2020-10-22': 18,
 '2020-10-23': 19,
 '2020-10-24': 18,
 '2020-10-25': 13,
 '2020-10-26': 15,
 '2020-10-27': 14,
 '2020-10-28': 12,
 '2020-10-29': 14,
 '2020-10-30': 7,
 '2020-10-31': 11,
 '2020-11-01': 7,
 '2020-11-02': 9,
 '2020-11-03': 12,
 '2020-11-04': 8,
 '2020-11-05': 14,
 '2020-11-06': 8,
 '2020-11-07': 6,
 '2020-11-08': 7,
 '2020-11-09': 4,
 '2020-11-10': 2,
 '2020-11-11': 4,
 '2020-11-12': 1,
 '2020-11-13': 6,
 '2020-11-14': 29,
 '2020-11-15': 38,
 '2020-11-16': 9,
 '2020-11-17': 19,
 '2020-11-18': 8,
 '2020-11-19': 7,
 '2020-11-20': 14,
 '2020-11-21': 15,
 '2020-11-22': 13,
 '2020-11-23': 9,
 '2020-11-24': 10,
 '2020-11-25': 12,
 '2020-11-26': 9,
 '2020-11-27': 13,
 '2020-11-28': 7,
 '2020-11-29': 10,
 '2020-11-30': 10,
 '2020-12-01': 11,
 '2020-12-02': 16,
 '2020-12-03': 10,
 '2020-12-04': 7,
 '2020-12-05': 9,
 '2020-12-06': 7,
 '2020-12-07': 15,
 '2020-12-08': 6,
 '2020-12-09': 7,
 '2020-12-10': 12,
 '2020-12-11': 14,
 '2020-12-12': 5,
 '2020-12-13': 7,
 '2020-12-14': 11,
 '2020-12-15': 12,
 '2020-12-16': 13,
 '2020-12-17': 21,
 '2020-12-18': 34,
 '2020-12-19': 42,
 '2020-12-20': 30,
 '2020-12-21': 21,
 '2020-12-22': 18,
 '2020-12-23': 25,
 '2020-12-24': 12,
 '2020-12-25': 23,
 '2020-12-26': 12,
 '2020-12-27': 29,
 '2020-12-28': 12,
 '2020-12-29': 32,
 '2020-12-30': 24,
 '2020-12-31': 20,
 '2021-01-01': 35,
 '2021-01-02': 24,
 '2021-01-03': 20,
 '2021-01-04': 15,
 '2021-01-05': 19,
 '2021-01-06': 10,
 '2021-01-07': 25,
 '2021-01-08': 11,
 '2021-01-09': 13,
 '2021-01-10': 19,
 '2021-01-11': 20,
 '2021-01-12': 16,
 '2021-01-13': 10,
 '2021-01-14': 9,
 '2021-01-15': 20,
 '2021-01-16': 19,
 '2021-01-17': 13,
 '2021-01-18': 10,
 '2021-01-19': 9,
 '2021-01-20': 9,
 '2021-01-21': 7,
 '2021-01-22': 5,
 '2021-01-23': 7,
 '2021-01-24': 11,
 '2021-01-25': 3,
 '2021-01-26': 6,
 '2021-01-27': 8,
 '2021-01-28': 5,
 '2021-01-29': 7,
 '2021-01-30': 5,
 '2021-01-31': 8,
 '2021-02-01': 5,
 '2021-02-02': 7,
 '2021-02-03': 9,
 '2021-02-04': 6,
 '2021-02-05': 6,
 '2021-02-06': 3,
 '2021-02-07': 6,
 '2021-02-08': 3,
 '2021-02-09': 11,
 '2021-02-10': 8,
 '2021-02-11': 8,
 '2021-02-12': 5,
 '2021-02-13': 6,
 '2021-02-14': 2,
 '2021-02-15': 5,
 '2021-02-16': 6,
 '2021-02-17': 1,
 '2021-02-18': 6,
 '2021-02-19': 2,
 '2021-02-20': 6,
 '2021-02-21': 4,
 '2021-02-22': 7,
 '2021-02-23': 2,
 '2021-02-24': 8,
 '2021-02-25': 10,
 '2021-02-26': 8,
 '2021-02-27': 5,
 '2021-02-28': 8}

In [203]:
df_confirmed_new_Australia = df_confirmed_Australia.copy()
for i in range(len(df_Australia_numbers_new.index)):
    for j in range(1,len(df_Australia_numbers_new.columns)):
        df_confirmed_new_Australia.iloc[i, j+4] = df_Australia_numbers_new.iloc[i,j]
        
df_confirmed_new_Australia = df_confirmed_new_Australia.append(overall_australia_row_dict, ignore_index=True)
df_confirmed_new_Australia

,Province/State,Country/Region,Lat,Long,2020-01-22,2020-01-23,2020-01-24,2020-01-25,2020-01-26,2020-01-27,2020-01-28,2020-01-29,2020-01-30,2020-01-31,2020-02-01,...,2021-02-14,2021-02-15,2021-02-16,2021-02-17,2021-02-18,2021-02-19,2021-02-20,2021-02-21,2021-02-22,2021-02-23,2021-02-24,2021-02-25,2021-02-26,2021-02-27,2021-02-28
0,Australian Capital Territory,Australia,-35.4735,149.012,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,New South Wales,Australia,-33.8688,151.209,0,0,0,0,3,1,0,0,0,0,0,...,0,1,4,0,2,1,3,1,4,1,7,4,6,5,3
2,Northern Territory,Australia,-12.4634,130.846,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0
3,Queensland,Australia,-27.4698,153.025,0,0,0,0,0,0,0,1,2,0,1,...,0,0,0,0,1,0,0,2,0,0,1,4,1,0,2
4,South Australia,Australia,-34.9285,138.601,0,0,0,0,0,0,0,0,0,0,1,...,0,0,2,0,0,0,2,0,2,1,0,0,0,0,3
5,Tasmania,Australia,-42.8821,147.327,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6,Victoria,Australia,-37.8136,144.963,0,0,0,0,1,0,0,0,1,1,1,...,2,4,0,1,3,0,0,0,0,0,0,2,0,0,0
7,Western Australia,Australia,-31.9505,115.861,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,1,0,0,0,0,0,0
8,Australia,Australia,-26.4390917,133.281323,0,0,0,0,4,1,0,1,3,1,3,...,2,5,6,1,6,2,6,4,7,2,8,10,8,5,8

In [204]:
df_confirmed_new_Australia.to_csv("../Data/Processed/time_series_covid19_confirmed_new_infections_australia.csv", index=False)

In [6]:
# converting commulative infections to new infections Portugal
df_Portugal_numbers = df_confirmed_Portugal.iloc[:,4:len(df_confirmed_Portugal.columns)]
df_Portugal_numbers_new = df_Portugal_numbers.copy()
for i in range(len(df_Portugal_numbers.index)):
    for j in range(1,len(df_Portugal_numbers.columns)):
        df_Portugal_numbers_new.iloc[i,j] = df_Portugal_numbers.iloc[i,j] - df_Portugal_numbers.iloc[i,j-1]
        if df_Portugal_numbers_new.iloc[i,j] <0:
            print("Smaller than 0! Value: " + str(df_Portugal_numbers_new.iloc[i,j]) +  " i, j:" +str(i)+ ", "+ str(j))
            df_Portugal_numbers_new.iloc[i,j] = 0
df_Portugal_numbers_new

Smaller than 0! Value: -161 i, j:0, 101

,2020-01-22,2020-01-23,2020-01-24,2020-01-25,2020-01-26,2020-01-27,2020-01-28,2020-01-29,2020-01-30,2020-01-31,...,2021-03-20,2021-03-21,2021-03-22,2021-03-23,2021-03-24,2021-03-25,2021-03-26,2021-03-27,2021-03-28,2021-03-29
210,0,0,0,0,0,0,0,0,0,0,...,457,450,248,434,575,423,488,344,365,309

In [7]:
df_confirmed_new_Portugal = df_confirmed_Portugal.copy()
for i in range(len(df_Portugal_numbers_new.index)):
    for j in range(1,len(df_Portugal_numbers_new.columns)):
        df_confirmed_new_Portugal.iloc[i, j+4] = df_Portugal_numbers_new.iloc[i,j]
df_confirmed_new_Portugal

,Province/State,Country/Region,Lat,Long,2020-01-22,2020-01-23,2020-01-24,2020-01-25,2020-01-26,2020-01-27,...,2021-03-20,2021-03-21,2021-03-22,2021-03-23,2021-03-24,2021-03-25,2021-03-26,2021-03-27,2021-03-28,2021-03-29
210,NaN,Portugal,39.3999,-8.2245,0,0,0,0,0,0,...,457,450,248,434,575,423,488,344,365,309

In [9]:
df_confirmed_new_Portugal.to_csv("../Data/time_series_covid19_confirmed_new_infections_portugal.csv", index=False)

## Daily new cases per 100k

In [232]:
australian_new_infections_per100k = df_confirmed_new_Australia.copy()
australian_new_infections_per100k = australian_new_infections_per100k.rename(columns={'Province/State': 'State'})
australian_new_infections_per100k = australian_new_infections_per100k.set_index('State')
australian_new_infections_per100k

,Country/Region,Lat,Long,2020-01-22,2020-01-23,2020-01-24,2020-01-25,2020-01-26,2020-01-27,2020-01-28,2020-01-29,2020-01-30,2020-01-31,2020-02-01,2020-02-02,...,2021-02-14,2021-02-15,2021-02-16,2021-02-17,2021-02-18,2021-02-19,2021-02-20,2021-02-21,2021-02-22,2021-02-23,2021-02-24,2021-02-25,2021-02-26,2021-02-27,2021-02-28
State,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Australian Capital Territory,Australia,-35.4735,149.012,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
New South Wales,Australia,-33.8688,151.209,0,0,0,0,3,1,0,0,0,0,0,0,...,0,1,4,0,2,1,3,1,4,1,7,4,6,5,3
Northern Territory,Australia,-12.4634,130.846,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0
Queensland,Australia,-27.4698,153.025,0,0,0,0,0,0,0,1,2,0,1,0,...,0,0,0,0,1,0,0,2,0,0,1,4,1,0,2
South Australia,Australia,-34.9285,138.601,0,0,0,0,0,0,0,0,0,0,1,1,...,0,0,2,0,0,0,2,0,2,1,0,0,0,0,3
Tasmania,Australia,-42.8821,147.327,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Victoria,Australia,-37.8136,144.963,0,0,0,0,1,0,0,0,1,1,1,0,...,2,4,0,1,3,0,0,0,0,0,0,2,0,0,0
Western Australia,Australia,-31.9505,115.861,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,1,0,0,0,0,0,0
Australia,Australia,-26.4390917,133.281323,0,0,0,0,4,1,0,1,3,1,3,1,...,2,5,6,1,6,2,6,4,7,2,8,10,8,5,8

In [233]:
state_population = pd.read_csv('../Data/Raw/australian_states_population.csv', index_col='State')
state_population

                             Acronym  Population
State
Australia                        AUS    25005273
New South Wales                  NSW     8164128
Queensland                       QLD     5174437
South Australia                   SA     1769319
Tasmania                         TAS      540569
Victoria                         VIC     6694884
Western Australia                 WA     2661936
Northern Territory                NT      245980
Australian Capital Territory     ACT      431114

In [234]:
australian_new_infections_per100k = state_population.join(australian_new_infections_per100k)
australian_new_infections_per100k.head(10)

,Acronym,Population,Country/Region,Lat,Long,2020-01-22,2020-01-23,2020-01-24,2020-01-25,2020-01-26,2020-01-27,2020-01-28,2020-01-29,2020-01-30,2020-01-31,...,2021-02-14,2021-02-15,2021-02-16,2021-02-17,2021-02-18,2021-02-19,2021-02-20,2021-02-21,2021-02-22,2021-02-23,2021-02-24,2021-02-25,2021-02-26,2021-02-27,2021-02-28
State,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Australia,AUS,25005273,Australia,-26.4390917,133.281323,0,0,0,0,4,1,0,1,3,1,...,2,5,6,1,6,2,6,4,7,2,8,10,8,5,8
New South Wales,NSW,8164128,Australia,-33.8688,151.209,0,0,0,0,3,1,0,0,0,0,...,0,1,4,0,2,1,3,1,4,1,7,4,6,5,3
Queensland,QLD,5174437,Australia,-27.4698,153.025,0,0,0,0,0,0,0,1,2,0,...,0,0,0,0,1,0,0,2,0,0,1,4,1,0,2
South Australia,SA,1769319,Australia,-34.9285,138.601,0,0,0,0,0,0,0,0,0,0,...,0,0,2,0,0,0,2,0,2,1,0,0,0,0,3
Tasmania,TAS,540569,Australia,-42.8821,147.327,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Victoria,VIC,6694884,Australia,-37.8136,144.963,0,0,0,0,1,0,0,0,1,1,...,2,4,0,1,3,0,0,0,0,0,0,2,0,0,0
Western Australia,WA,2661936,Australia,-31.9505,115.861,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,1,0,0,0,0,0,0
Northern Territory,NT,245980,Australia,-12.4634,130.846,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0
Australian Capital Territory,ACT,431114,Australia,-35.4735,149.012,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [240]:
timeline_columns = australian_new_infections_per100k.columns[5:]
def apply_perCapita(row):
    row[timeline_columns] = row[timeline_columns].apply(lambda x: x/(row.Population/100000))
    return row

In [242]:
australian_new_infections_per100k = australian_new_infections_per100k.apply(apply_perCapita, axis=1)
australian_new_infections_per100k = australian_new_infections_per100k.reset_index()
australian_new_infections_per100k.to_csv("../Data/Processed/time_series_covid19_confirmed_new_infections_per100k_australia.csv", index=False)
australian_new_infections_per100k

,index,State,Acronym,Population,Country/Region,Lat,Long,2020-01-22,2020-01-23,2020-01-24,2020-01-25,2020-01-26,2020-01-27,2020-01-28,2020-01-29,...,2021-02-14,2021-02-15,2021-02-16,2021-02-17,2021-02-18,2021-02-19,2021-02-20,2021-02-21,2021-02-22,2021-02-23,2021-02-24,2021-02-25,2021-02-26,2021-02-27,2021-02-28
0,0,Australia,AUS,25005273,Australia,-26.4390917,133.281323,0.0,0.0,0.0,0.0,0.000064,0.000016,0.0,0.000016,...,0.000032,0.000080,0.000096,0.000016,0.000096,0.000032,0.000096,0.000064,0.000112,0.000032,0.000128,0.000160,0.000128,0.00008,0.000128
1,1,New South Wales,NSW,8164128,Australia,-33.8688,151.209,0.0,0.0,0.0,0.0,0.000450,0.000150,0.0,0.000000,...,0.000000,0.000150,0.000600,0.000000,0.000300,0.000150,0.000450,0.000150,0.000600,0.000150,0.001050,0.000600,0.000900,0.00075,0.000450
2,2,Queensland,QLD,5174437,Australia,-27.4698,153.025,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000373,...,0.000000,0.000000,0.000000,0.000000,0.000373,0.000000,0.000000,0.000747,0.000000,0.000000,0.000373,0.001494,0.000373,0.00000,0.000747
3,3,South Australia,SA,1769319,Australia,-34.9285,138.601,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,...,0.000000,0.000000,0.006389,0.000000,0.000000,0.000000,0.006389,0.000000,0.006389,0.003194,0.000000,0.000000,0.000000,0.00000,0.009583
4,4,Tasmania,TAS,540569,Australia,-42.8821,147.327,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000
5,5,Victoria,VIC,6694884,Australia,-37.8136,144.963,0.0,0.0,0.0,0.0,0.000223,0.000000,0.0,0.000000,...,0.000446,0.000892,0.000000,0.000223,0.000669,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000446,0.000000,0.00000,0.000000
6,6,Western Australia,WA,2661936,Australia,-31.9505,115.861,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.001411,0.001411,0.001411,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000
7,7,Northern Territory,NT,245980,Australia,-12.4634,130.846,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.165272,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.165272,0.00000,0.000000
8,8,Australian Capital Territory,ACT,431114,Australia,-35.4735,149.012,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000

## Seven Day Average

In [10]:
def seven_day_average(df):
    df_new = df.copy()
    for i in range(len(df_new.index)):
        for j in range(1,len(df_new.columns)):
            if j >=10:
                df_new.iloc[i,j] = df.iloc[i,j-6:j].sum() / 7
    return df_new

In [209]:
pd.set_option('display.max_columns', 30)
df_confirmed_new_Australia_7average = seven_day_average(df_confirmed_new_Australia)

In [210]:
df_confirmed_new_Australia_7average.to_csv("../Data/Processed/time_series_covid19_confirmed_new_infections_7average_australia.csv", index=False)

In [12]:
df_confirmed_new_Portugal_7average = seven_day_average(df_confirmed_new_Portugal)
df_confirmed_new_Portugal_7average.to_csv("../Data/time_series_covid19_confirmed_new_infections_7average_portugal.csv", index=False)

# Stringency Index Exploration

In [212]:
df_stringency = pd.read_csv("../Data/Raw/Australia_government_covid-stringency-index.csv")

In [213]:
df_stringency_australia = df_stringency[df_stringency["Entity"]=="Australia"]
df_stringency_portugal = df_stringency[df_stringency["Entity"]=="Portugal"]
df_stringency_portugal = df_stringency_portugal.drop(labels="Code", axis=1)
df_stringency_australia = df_stringency_australia.drop(labels="Code", axis=1)
df_stringency_portugal.to_csv("../Data/Processed/stringency_index_portugal.csv", index=False)
df_stringency_australia.to_csv("../Data/Processed/stringency_index_australia.csv", index=False)

In [214]:
df_stringency_australia

         Entity        Date  stringency_index
2951  Australia  2020-01-01              0.00
2952  Australia  2020-01-02              0.00
2953  Australia  2020-01-03              0.00
2954  Australia  2020-01-04              0.00
2955  Australia  2020-01-05              0.00
...         ...         ...               ...
3369  Australia  2021-02-22             53.24
3370  Australia  2021-02-23             53.24
3371  Australia  2021-02-24             53.24
3372  Australia  2021-02-25             53.24
3373  Australia  2021-02-26             53.24

[423 rows x 3 columns]

# Testing

In [215]:
df_testing = pd.read_csv("../Data/Raw/daily-tests-per-thousand-people-smoothed-7-day.csv")
df_testing

,Entity,Code,Date,new_tests_per_thousand_7day_smoothed,new_tests_per_thousand_7day_smoothed Annotations
0,Albania,ALB,2020-03-03,0.001,NaN
1,Albania,ALB,2020-03-04,0.001,NaN
2,Albania,ALB,2020-03-05,0.002,NaN
3,Albania,ALB,2020-03-06,0.002,NaN
4,Albania,ALB,2020-03-07,0.002,NaN
...,...,...,...,...,...
38930,Zimbabwe,ZWE,2021-02-24,0.138,tests performed
38931,Zimbabwe,ZWE,2021-02-25,0.128,tests performed
38932,Zimbabwe,ZWE,2021-02-26,0.126,tests performed
38933,Zimbabwe,ZWE,2021-02-27,0.124,tests performed
38934,Zimbabwe,ZWE,2021-02-28,0.122,tests performed

In [216]:
df_testing_australia = df_testing[df_testing["Entity"]=="Australia"].drop(axis=1, labels=["Code","new_tests_per_thousand_7day_smoothed Annotations"])
df_testing_portugal = df_testing[df_testing["Entity"]=="Portugal"].drop(axis=1, labels=["Code","new_tests_per_thousand_7day_smoothed Annotations"])

In [217]:
df_testing_australia

         Entity        Date  new_tests_per_thousand_7day_smoothed
1585  Australia  2020-03-29                                 0.382
1586  Australia  2020-03-30                                 0.396
1587  Australia  2020-03-31                                 0.410
1588  Australia  2020-04-01                                 0.425
1589  Australia  2020-04-02                                 0.439
...         ...         ...                                   ...
1917  Australia  2021-02-24                                 1.951
1918  Australia  2021-02-25                                 1.821
1919  Australia  2021-02-26                                 1.766
1920  Australia  2021-02-27                                 1.711
1921  Australia  2021-02-28                                 1.656

[337 rows x 3 columns]

In [23]:
df_testing_portugal.to_csv("../Data/Processed/testing_portugal.csv", index=False)
#df_testing_australia.to_csv("../Data/Processed/testing_australia.csv", index=False)

## Positive rate

In [218]:
df_confirmed_new_Australia_7average

,Province/State,Country/Region,Lat,Long,2020-01-22,2020-01-23,2020-01-24,2020-01-25,2020-01-26,2020-01-27,2020-01-28,2020-01-29,2020-01-30,2020-01-31,2020-02-01,...,2021-02-14,2021-02-15,2021-02-16,2021-02-17,2021-02-18,2021-02-19,2021-02-20,2021-02-21,2021-02-22,2021-02-23,2021-02-24,2021-02-25,2021-02-26,2021-02-27,2021-02-28
0,Australian Capital Territory,Australia,-35.4735,149.012,0,0,0,0,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,New South Wales,Australia,-33.8688,151.209,0,0,0,0,3,1,0.571429,0.571429,0.571429,0.571429,0.571429,...,2.142857,1.857143,1.428571,1.571429,1.285714,1.285714,1.142857,1.571429,1.571429,1.571429,1.714286,2.428571,2.857143,3.285714,3.857143
2,Northern Territory,Australia,-12.4634,130.846,0,0,0,0,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.142857,0.142857,0.142857,0.142857,0.142857,0.142857,0.142857,0.142857,0.142857,0.142857,0.142857,0.142857,0.000000,0.142857,0.142857
3,Queensland,Australia,-27.4698,153.025,0,0,0,0,0,0,0.000000,0.000000,0.142857,0.428571,0.428571,...,0.857143,0.714286,0.571429,0.428571,0.285714,0.142857,0.142857,0.142857,0.428571,0.428571,0.428571,0.428571,1.000000,1.142857,0.857143
4,South Australia,Australia,-34.9285,138.601,0,0,0,0,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.428571,0.428571,0.142857,0.285714,0.285714,0.285714,0.285714,0.571429,0.571429,0.571429,0.714286,0.714286,0.714286,0.428571,0.428571
5,Tasmania,Australia,-42.8821,147.327,0,0,0,0,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
6,Victoria,Australia,-37.8136,144.963,0,0,0,0,1,0,0.142857,0.142857,0.142857,0.285714,0.428571,...,1.857143,2.142857,2.428571,2.142857,1.571429,1.857143,1.428571,1.142857,0.571429,0.571429,0.428571,0.000000,0.285714,0.285714,0.285714
7,Western Australia,Australia,-31.9505,115.861,0,0,0,0,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.428571,0.428571,0.142857,0.000000,0.000000,0.000000,0.000000,0.142857,0.285714,0.428571,0.428571,0.428571,0.428571,0.285714,0.142857
8,Australia,Australia,-26.4390917,133.281323,0,0,0,0,4,1,0.714286,0.714286,0.857143,1.285714,1.428571,...,5.857143,5.714286,4.857143,4.571429,3.571429,3.714286,3.142857,3.714286,3.571429,3.714286,3.857143,4.142857,5.285714,5.571429,5.714286

In [219]:
def transform_to_date_index(df):
    df_transposed = df.transpose()
    df_transposed = df_transposed.drop(axis=0, labels=["Country/Region", "Lat","Long"])
    new_columns = df.iloc[:,0].to_list()
    df_transposed.columns=new_columns
    df_transposed = df_transposed.drop(axis=0, labels=["Province/State"])
    new_indexs = df_transposed.index.to_list()
    return df_transposed

In [222]:
def date_transform(date):
    date_list = date.split("/")
    day = date_list[1]
    if len(day)==1:
        day = "0"+day
    month = date_list[0]
    if len(month)==1:
        month = "0"+month
    year = date_list[2]
    new_string = "20"+year+"-"+month+"-"+day
    return new_string
date_transform("11/12/20")

'2020-11-12'

In [223]:
df_confirmed_new_Australia_7average_transformed = transform_to_date_index(df_confirmed_new_Australia_7average)
display(df_confirmed_new_Australia_7average_transformed)

,Australian Capital Territory,New South Wales,Northern Territory,Queensland,South Australia,Tasmania,Victoria,Western Australia,Australia
2020-01-22,0,0,0,0,0,0,0,0,0
2020-01-23,0,0,0,0,0,0,0,0,0
2020-01-24,0,0,0,0,0,0,0,0,0
2020-01-25,0,0,0,0,0,0,0,0,0
2020-01-26,0,3,0,0,0,0,1,0,4
...,...,...,...,...,...,...,...,...,...
2021-02-24,0,1.71429,0.142857,0.428571,0.714286,0,0.428571,0.428571,3.85714
2021-02-25,0,2.42857,0.142857,0.428571,0.714286,0,0,0.428571,4.14286
2021-02-26,0,2.85714,0,1,0.714286,0,0.285714,0.428571,5.28571
2021-02-27,0,3.28571,0.142857,1.14286,0.428571,0,0.285714,0.285714,5.57143
2021-02-28,0,3.85714,0.142857,0.857143,0.428571,0,0.285714,0.142857,5.71429

In [224]:
df_testing_australia_date_index = df_testing_australia.copy()
#df_testing_australia_date_index.index = df_testing_australia_date_index["Date"]
df_testing_australia_date_index = df_testing_australia_date_index.set_index("Date")
df_join_testing_cases = df_testing_australia_date_index.join(df_confirmed_new_Australia_7average_transformed)
df_join_testing_cases

,Entity,new_tests_per_thousand_7day_smoothed,Australian Capital Territory,New South Wales,Northern Territory,Queensland,South Australia,Tasmania,Victoria,Western Australia,Australia
Date,,,,,,,,,,,
2020-03-29,Australia,0.382,7.42857,135.429,1.42857,52.2857,26.7143,5.71429,47.1429,22.5714,298.714
2020-03-30,Australia,0.396,6.42857,160.286,1.42857,48.1429,23.5714,5.42857,59.1429,24.4286,328.857
2020-03-31,Australia,0.410,5.57143,173.429,1.28571,41.7143,19.2857,5.42857,58.5714,25.7143,331
2020-04-01,Australia,0.425,5.85714,143.286,1.57143,42.8571,23.8571,4.71429,64.4286,27,313.571
2020-04-02,Australia,0.439,4.42857,137.571,1,41.1429,18.8571,3.14286,64,23,293.143
...,...,...,...,...,...,...,...,...,...,...,...
2021-02-24,Australia,1.951,0,1.71429,0.142857,0.428571,0.714286,0,0.428571,0.428571,3.85714
2021-02-25,Australia,1.821,0,2.42857,0.142857,0.428571,0.714286,0,0,0.428571,4.14286
2021-02-26,Australia,1.766,0,2.85714,0,1,0.714286,0,0.285714,0.428571,5.28571
2021-02-27,Australia,1.711,0,3.28571,0.142857,1.14286,0.428571,0,0.285714,0.285714,5.57143
2021-02-28,Australia,1.656,0,3.85714,0.142857,0.857143,0.428571,0,0.285714,0.142857,5.71429

In [226]:
df_population = pd.read_csv("../Data/Raw/australian_states_population.csv")
australia_population = df_population.iloc[0,2]
df_population

                State Acronym  Population
0           Australia     AUS    25005273
1     New South Wales     NSW     8164128
2          Queensland     QLD     5174437
3     South Australia      SA     1769319
4            Tasmania     TAS      540569
5            Victoria     VIC     6694884
6   Western Australia      WA     2661936
7  Northern Territory      NT      245980

In [227]:
positive_rates = []
sum_tests = 0
for i in range(len(df_join_testing_cases.index)):
    tests_per_thousand = df_join_testing_cases.iloc[i,1]
    tests = tests_per_thousand/1000 * australia_population
    sum_tests += tests
    new_confirmed_cases = df_join_testing_cases.iloc[i,10]
    positive_rate = new_confirmed_cases/tests
    positive_rates.append(positive_rate)
print(positive_rates)

[0.03127238682547818, 0.03321088837731667, 0.032285873190455935, 0.02950638155601901, 0.026704422823671716, 0.024882799654302467, 0.02067474604304181, 0.018600175455091617, 0.017100553099743943, 0.01683998552521901, 0.014791008458082849, 0.013062644900010396, 0.012078197808133215, 0.010762602473132828, 0.011066848170321022, 0.008887014439803246, 0.008341462891581641, 0.007970827384153426, 0.006818838268328298, 0.004754510122157441, 0.0038202971321776875, 0.003859368352847686, 0.0037940715493006167, 0.002891291454868209, 0.0025796950348390482, 0.002238114093087415, 0.0015713777987864284, 0.0012657028405120476, 0.0010018763669089254, 0.0010876367044529078, 0.0008530336621983468, 0.0010205891756112464, 0.0009574407821887475, 0.0008612684489400131, 0.0007478309606879443, 0.0007000535519482839, 0.0008041199392583365, 0.0008139808736475677, 0.000890901200029781, 0.0008409141271691835, 0.0008300021818116501, 0.0006711483165704391, 0.0006126768498829919, 0.0005026316653671697, 0.0004545583480516735, 0.0003978339604631412, 0.000359951773409986, 0.00046370946671719053, 0.00045371305486839906, 0.00046656825808967045, 0.0004239214332803964, 0.00044135387469286503, 0.0004177847568617385, 0.0003255615846514057, 0.00032739717543278434, 0.0003177142963818147, 0.0003350780475837001, 0.00028537425688188677, 0.0002972414126691562, 0.00029690025743774626, 0.000279661293560242, 0.00033262625699162425, 0.0003365712201522377, 0.0003595645202917397, 0.0003534325577078033, 0.0004134798043484299, 0.0004619584198494011, 0.00042762580174416807, 0.0003539076546824301, 0.0003775163465618119, 0.00036293393346716437, 0.0002843900796555242, 0.0002481182046111151, 0.0002134021610411665, 0.00024113652352898414, 0.0002451965970515917, 0.00019645351888306433, 0.0002982102569086254, 0.00036689509155151014, 0.0003870650888416048, 0.0004522638961631315, 0.00048080382223829446, 0.0005218461332801746, 0.00041657880186577714, 0.0005610663831832134, 0.0004630256862382674, 0.0004408462531305876, 0.00043895224233464714, 0.0005017342545054525, 0.0006053378760543448, 0.0004347244362080918, 0.0006428347551544344, 0.0009008451904198071, 0.0009879526312914658, 0.0011338460622211377, 0.0012490634188414903, 0.0014115741396150214, 0.0017630689937029019, 0.0020711061414704305, 0.00222406312513787, 0.002467885356408299, 0.002575688451096458, 0.0029094392511260624, 0.003224099246398442, 0.0032027876714875335, 0.003419960544142373, 0.003483585799574443, 0.0038548468467263213, 0.00398995534303235, 0.0038863021797393643, 0.0045060918286326315, 0.00427311405340338, 0.0046345650293821905, 0.004450034590037358, 0.00461852963791643, 0.004960858417647312, 0.004882430397225946, 0.004936211733712272, 0.004914576438877405, 0.005188455400847888, 0.005647749741023001, 0.005435549539307554, 0.005193709737547352, 0.0061993003463065195, 0.006838559927229453, 0.0065536416293525135, 0.007401712640293719, 0.007753466679624259, 0.007371941885710255, 0.007128989778225893, 0.0065700428179974, 0.006364810576723019, 0.006322327209030785, 0.005579383048830121, 0.005174002242572776, 0.00470055835108206, 0.004723035713903877, 0.004453470240574048, 0.00456688970430249, 0.004148202630349971, 0.004378638501362913, 0.004506470248974925, 0.004192479202319765, 0.004167278461598258, 0.003817237291004167, 0.0035483688256706487, 0.0033795326744769424, 0.0031232504935695964, 0.0027598723233109067, 0.0024994728111946626, 0.00221387595217791, 0.002011338534375302, 0.0018632483738479436, 0.0016234854839839135, 0.0016679721334234628, 0.001548363290157351, 0.0014219120345814581, 0.0014141521859524523, 0.0014660809169481444, 0.001359597793517951, 0.0011763513581170323, 0.0011113401529649677, 0.0010710695481867122, 0.0009690106810068601, 0.0009058382724764144, 0.0008647425668079812, 0.0008582806943542371, 0.0008559214726859685, 0.000937968474989895, 0.0009199761468477364, 0.0008073151701375823, 0.0007761510822493513, 0.0007741301776832096, 0.0008310528131101152, 0.00080829257504876, 0.0007532533167130777, 0.000650999373782949, 0.0006088013233616257, 0.0006019747071550906, 0.00046217308269541017, 0.000453732238811975, 0.000473415396020819, 0.0005223388078904764, 0.0004269115256797163, 0.00035546154350680147, 0.00041016989722168827, 0.0004108282758689141, 0.0004099664399313997, 0.0003681460124228075, 0.00042719009427156113, 0.00041574061514170114, 0.00042105715094933915, 0.00040333211001717387, 0.00045912910438798867, 0.0004757125096643292, 0.00047319589478109995, 0.0004795651691968903, 0.0004680797656663012, 0.0005403133517287163, 0.0005193709737547353, 0.0005175750851871186, 0.0004956019469503859, 0.00044302379082922444, 0.0003996492169798262, 0.00033897612220392374, 0.0002576190241170702, 0.0003266788172686034, 0.0003276453670951098, 0.0003742526134409121, 0.00040641834328368503, 0.00044762281861748294, 0.0004680316628757972, 0.0003752559716538904, 0.0003633893960631491, 0.00033498089222196517, 0.0003119523436012568, 0.0002681358281274446, 0.0002572824749691871, 0.00022979594445212608, 0.0002119881525529531, 0.00021599549003032464, 0.0001992935131849565, 0.00022615050187503393, 0.00021600957057074383, 0.00021325841554958674, 0.00020658740244682098, 0.00017549986498771115, 0.0001498632816144501, 0.00010852052821713522, 8.495287303051429e-05, 8.596485082836995e-05, 0.00016664661554844384, 0.0002967834135741343, 0.0003155796964338296, 0.0003644366682631725, 0.00038250970364369003, 0.0003692355336329198, 0.0003057705169429286, 0.00022258756018060077, 0.00022864356717164746, 0.00020131517722687543, 0.00021033540247349314, 0.00023790923669426826, 0.00023417087906482328, 0.00024078117940353621, 0.00023287013768894375, 0.0002435345376585795, 0.00025017797802543237, 0.00026007954679675656, 0.00029741756616724147, 0.00029250973241866677, 0.00030168082963971416, 0.0003063183700527927, 0.0002939835700498501, 0.0003221472823994128, 0.0002742278741425002, 0.0002608479107219395, 0.0002884873938980314, 0.0003165285407715052, 0.0003083913650199663, 0.0002685411209920796, 0.000297058978489245, 0.0003322191834026951, 0.0003535039961085123, 0.000376866700841151, 0.0005136531281721142, 0.0006700526760169114, 0.0006167530313337479, 0.0005360174793237972, 0.000464887940233405, 0.0004276634614360875, 0.00034135484266156996, 0.0002746878165329739, 0.00021950569711129517, 0.000255393164780221, 0.0002628575408701693, 0.00031448150704415154, 0.00035859565092338346, 0.0003639444008681329, 0.00044601349158598724, 0.00044934342673162475, 0.000414378806856258, 0.0003297386608781631, 0.00027812581793674145, 0.0002415637426917005, 0.00021454905961353798, 0.0001837003444148581, 0.00016551916079473336, 0.00017253076867879903, 0.0001820754177910909, 0.00020495356811846055, 0.0001842261533716977, 0.00019153680997428962, 0.00022099982998452513, 0.00023709915534763626, 0.0002406963786359717, 0.00023646373920054625, 0.00024532821089864025, 0.00025321133346491246, 0.00021289010436998876, 0.00016896946300168003, 0.00015575104027331675, 0.0001643066951123428, 0.00014811690733005408, 0.0001459136527444541, 0.00016093185102259398, 0.0001666836093742403, 0.0001728617461816063, 0.00014561075276182226, 0.00016841281008373496, 0.00016129054014077217, 0.00014331117716486586, 0.00015180577392312738, 0.00014211643560452952, 0.00014000974845390646, 0.00011840581785082046, 0.00011370843804097752, 9.683187646274722e-05, 0.00010485465385189987, 0.00010632997299707102, 0.00010981278843803911, 0.00011310299814745801, 0.00011090734335387571, 0.00010497162537991889, 8.857489474886954e-05, 7.691147781306975e-05, 5.834437000921248e-05, 6.17117152030969e-05, 5.312247491489683e-05, 6.391570503177894e-05, 6.572803395423477e-05, 7.043153081737991e-05, 7.906364900315548e-05, 9.098261429311397e-05, 0.00011969648149387156, 0.00013022217869128075, 0.00013799711863048518]

In [229]:
df_testing_positive_rate = df_join_testing_cases.copy()
df_testing_positive_rate["Positive Rate"] = positive_rates
df_testing_positive_rate=df_testing_positive_rate.drop(axis=1, labels=["Australia","New South Wales","Northern Territory","Queensland","South Australia","Tasmania","Victoria","Western Australia"])
dates=df_testing_positive_rate.index
df_testing_positive_rate=df_testing_positive_rate.reset_index()
df_testing_positive_rate["Date"] =dates
df_testing_positive_rate

,Date,Entity,new_tests_per_thousand_7day_smoothed,Australian Capital Territory,Positive Rate
0,2020-03-29,Australia,0.382,7.42857,0.031272
1,2020-03-30,Australia,0.396,6.42857,0.033211
2,2020-03-31,Australia,0.410,5.57143,0.032286
3,2020-04-01,Australia,0.425,5.85714,0.029506
4,2020-04-02,Australia,0.439,4.42857,0.026704
...,...,...,...,...,...
332,2021-02-24,Australia,1.951,0,0.000079
333,2021-02-25,Australia,1.821,0,0.000091
334,2021-02-26,Australia,1.766,0,0.000120
335,2021-02-27,Australia,1.711,0,0.000130
336,2021-02-28,Australia,1.656,0,0.000138

In [230]:
df_testing_positive_rate.to_csv("../Data/Processed/testing_australia.csv", index=False)